.header{
    text-align: center;
    color: white;
    background-color: rgb(250, 205, 7);
    padding: 30px;
}

.detail-btn{
    background-color: rgb(22, 98, 219);
}

.footer{
    text-align: center;
    color: white;
    background-color: rgb(22, 98, 219);
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}



